table, th, td {
    border: 1px solid black;
    font-size: 30px;
}

table {
	margin-bottom: 20px;
}

.title {
	text-align: center;
}

.submit-button {
	font-size: 40px;
}

.submit-div {
	text-align: center;
}