@media screen and (min-device-width:1080px){
	#main{
		font-family: 'Lato', sans-serif;
		min-height: 700px;
                font-size: 30px;
	}
  .title {
     font-size: 30px;
  }
}
@media screen and (max-device-width:1080px) {
  #main{
	font-family: 'Lato', sans-serif;
	min-height: 500px;
        font-size: 40px;
}
  .title {
        font-size: 40px;
  }
  .radio-button {
        width: 50px;
        height: 50px;
}

}

@media screen and (min-device-width:1080px){
	form{
	font-family: 'Lato', sans-serif;
	margin:100px 0;
	}
}

@media screen and (max-device-width:1080px) {
  form{
	font-family: 'Lato', sans-serif;
	margin:50px 0;
	}
}
.btn {
	font-family: 'Lato', sans-serif;
	font-size: 3rem;
	padding: 5px 20px;
	margin:20px 0;
}

.error{
	padding-top: 10%;
	padding-bottom: 5%;
}

header{
	background-color: #6A91C0;
	font-family: 'Lato', sans-serif;
	padding: 10px 0 ;
	-webkit-box-shadow: 0px 14px 22px -2px rgba(195,205,222,1);;
	-moz-box-shadow: 0px 14px 22px -2px rgba(195,205,222,1);;
	box-shadow: 0px 14px 22px -2px rgba(195,205,222,1);;
}
footer{
	background-color: #6A91C0;
	font-family: 'Lato', sans-serif;
	-webkit-box-shadow: 0px -14px 22px -2px rgba(195,205,222,1);;
	-moz-box-shadow: 0px -14px 22px -2px rgba(195,205,222,1);;
	box-shadow: 0px -14px 22px -2px rgba(195,205,222,1);;
	padding: 10px 0 ;
	color: #fff;
}
a{
	color: #fff;
}
header strong{
	color:#fff;
}
italic {
	font-family:'Vollkorn', serif;
	font-style: italic;
}
.title{
	padding-top: 20px;
}
italic {
	font-family: font-family: 'Vollkorn', serif;
	font-style: italic;
}
