<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Admin Page</title>
</head>
<body>
  <h1>List of Candidates</h1>
  <div>
    {% for candidate in candidates %}
    <form action="{% url 'remove' %}" method="post">
      <span>Name: {{candidate.name}}</span>
      <input type="submit" value="remove" />
      <br />
      <span>Votes: {{candidate.votes}}</span>
      <br />
      {% if candidate.picture.name %}
      <img width="150px" src="{% url 'photo' candidate.id %}" alt="(image not available)">
      <br />
      {% endif %}
      <span>Information: {{candidate.information}}</span>
      <input type="hidden" name="name" value="{{candidate.name}}"/>
      {% csrf_token %}
    </form>
    <br />
    {% endfor %}
  </div>
  <div>
    {% for pair in pairs %}
    <form action="{% url 'unpair' %}" method="post">
      <span>Candidate 1: {{pair.first.name}}</span>
      <br />
      <span>Candidate 2: {{pair.second.name}}</span>
      <input type="hidden" name="pid" value="{{pair.id}}" />
      <input type="submit" value="unpair" />
      {% csrf_token %}
    </form>
    {% endfor %}
  </div>
  <div>
    <h2>Add Candidate</h2>
    <form enctype="multipart/form-data" action="{% url 'add' %}" method="post">
      <table>{{form}}</table>
      <input type="submit" value="create" />
      {% csrf_token %}
    </form>
  </div>
  <div>
    <h2>Pair Candidates</h2>
    <form action="{% url 'pair' %}" method="post">
      <p>
        Candidate 1:
        <input type="text" name="name1" />
      </p>
      <p>
        Candidate 2:
        <input type="text" name="name2" />
      </p>
      <input type="submit" value="pair" />
      {% csrf_token %}
    </form>
  </div>
</body>
</html>