<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Admin Page</title>
</head>
<body>
  <script type="text/javascript">
    function confirmRemove(name) {
      var confirmed = confirm("Are you sure you want to remove candidate " + name + "?");
      if (confirmed) {
        document.getElementById("removeform").submit();
      }
    };
  </script>
  <h1>Current Round: {{round.round}}</h1>
  {% if not round.open %}
  <p>Open voting is currently disabled. <a href="{% url 'enable_voting' %}">Enable</a></p>
  {% else %}
  <p>Open voting is currently enabled. <a href="{% url 'disable_voting' %}">Disable</a></p>
  {% endif %}
  <a href="{% url 'next_round' %}">Go to Next Round</a>
  <a href="{% url 'prev_round' %}">Go to Previous Round</a>
  <h1>List of Candidates</h1>
  <div>
    {% for candidate in candidates %}
    <form id="removeform" action="{% url 'remove' %}" method="post">
      <p>
        <a href="{% url 'edit_candidate_page' candidate.id %}">Name: {{candidate.name}}</a> 
        <input type="button" value="remove" onclick="confirmRemove('{{candidate.name}}')"/>
      </p>
      <p>Votes (first round): {{candidate.votes_first_round}}</p>
      <p>Votes (second round): {{candidate.votes_second_round}}</p>
      {% if candidate.picture.name %}
      <img src="{% url 'photo' candidate.id %}" alt="(image not available)">
      {% endif %}
      <p>Round: {{candidate.round}}</p>
      <p>Information: {{candidate.information}}</p>
      <input type="hidden" name="name" value="{{candidate.name}}" />
      {% csrf_token %}
    </form>
    <br />
    {% endfor %}
  </div>
  <div>
    {% for pair in pairs %}
    <form action="{% url 'unpair' %}" method="post">
      <p>Candidate 1: {{pair.first.name}}</p>
      <p>Candidate 2: {{pair.second.name}}</p>
      <input type="hidden" name="pid" value="{{pair.id}}" />
      <input type="submit" value="unpair" />
      {% csrf_token %}
    </form>
    {% endfor %}
  </div>
  <div>
    <h2>Add Candidate</h2>
    <form enctype="multipart/form-data" action="{% url 'add' %}" method="post">
      <table>{{form}}</table>
      <input type="submit" value="create" />
      {% csrf_token %}
    </form>
  </div>
  <div>
    <h2>Pair Candidates</h2>
    <form action="{% url 'pair' %}" method="post">
      <p>
        Candidate 1:
        <input type="text" name="name1" />
      </p>
      <p>
        Candidate 2:
        <input type="text" name="name2" />
      </p>
      <input type="submit" value="pair" />
      {% csrf_token %}
    </form>
  </div>
  <p><a href="{% url 'logout' %}">Logout</a></p>
</body>
</html>