<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
<title>Round 2</title>
</head>
<body>
<!--header for IDOL -->
  <header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6" align="left">
                <h3><strong>VoteIDOL</strong></h3>
            </div>
            <div class="col-xs-6" align="right">
                <h3><a href="https://www.facebook.com/events/348943201979672/?ref_dashboard_filter=upcoming">About</a></h3>
            </div>
        </div>
    </div>
  </header>

<!--main body here-->
  <div id="main">
    
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
        <h2 class="title"><strong>Second Round Vote</strong></h2>
        <h3 class="title"><italic>Please tell us your list of favorite singers @ CMU IDOL.</italic></h3>
      </div> 
    </div>
    
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
        <form action="{% url 'vote' %}" method="post">
        {% for candidate in candidates %}
          <div><strong>{{candidate.name}}</strong></div>
          <img src="{% url 'photo' candidate.id %}" alt="image not availale" class="img-round" height="300px" width="300px"/>
          <div>{{candidate.information}}</div>
        {% endfor %}
        <input type="hidden" name="round" value="2" />
       
        <br />
        <div class="row">
          <div class="col-xs-6 text-center">
            <h4>First Choice: </h4>
          </div>
          <div class="col-xs-4 col-xs-offset-1 text-center">
      	    <select class="form-control" id="first_select" onchange="set_first()">
      			  <option></option>
      			  {% for candidate in candidates %}
      			  <option>{{candidate.name}}</option>
      			  {% endfor %}
      			</select>  
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 text-center">
            <h4>Second Choice: </h4>
          </div>
          <div class="col-xs-4 col-xs-offset-1 text-center">
            <select class="form-control" id="second_select" onchange="set_second()">
              <option></option>
              {% for candidate in candidates %}
              <option>{{candidate.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 text-center">
            <h4>Third Choice: </h4>
          </div>
          <div class="col-xs-4 col-xs-offset-1 text-center">
            <select class="form-control" id="third_select" onchange="set_third()">
              <option></option>
              {% for candidate in candidates %}
              <option>{{candidate.name}}</option>
              {% endfor %}
            </select> 
          </div> 
        </div>

        <div class="row">
        <input type="hidden" id="first" name="first_choice" required="true" />
        <input type="hidden" id="second" name="second_choice"  required="true" />
        <input type="hidden" id="third" name="third_choice"  required="true" />
        <input type="text" name="ticket" class="form-control" id="andrewid" placeholder="Your Ticket Number" required="true">
        <input class="btn btn-default" type="submit" value="Submit my vote" />
        {% csrf_token %}
        </div>
        </form>
      </div>
    </div>
  </div>

<!--javascript-->
  <script type="text/javascript">
    var dom1 = document.getElementById("first_select");
    var dom2 = document.getElementById("second_select");
    var dom3 = document.getElementById("third_select");
    var input1 = document.getElementById("first");
    var input2 = document.getElementById("second");
    var input3 = document.getElementById("third");
    function set_first() {
      var name = dom1.value;
      input1.value = name;
      if (input2.value === name) {
        dom2.value = "";
        input2.value = "";
      }
      if (input3.value === name) {
        dom3.value = "";
        input3.value = "";
      }
    };
    
    function set_second() {
      var name = dom2.value;
      input2.value = name;
      if (input1.value === name) {
        dom1.value = "";
        input1.value = "";
      }
      if (input3.value === name) {
        dom3.value = "";
        input3.value = "";
      }
    };
    
    function set_third(name) {
      var name = dom3.value;
      input3.value = name;
      if (input1.value === name) {
        dom1.value = "";
        input1.value = "";
      }
      if (input2.value === name) {
        dom2.value = "";
        input2.value = "";
      }
    };
  </script>

<!-- footer looks nicer-->
  <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h5>Brought to you by CMU Chinese Student Association & Taiwanese Student Association.</h5>
                </div>
            </div>
        </div>
  </footer>
</body>
</html>
